p {
    font-family: 'Poppins', sans-serif;           /*paragraph standard*/
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.2em;
    color: #666;
}


/*h2 standard*/
h2 {
	color: #006d9c;
	cursor: text;
}

/* -----------------------------------
    BOARD CONCEPT
-------------------------------------*/

/*Boardprogress standard*/
.boardProgress {
    float: left;
    width: 300px;
    min-height: 80vh;
    padding: 10px;
    margin: 2% 2% 0 0;
    background-color: #F6F6F6;
    
}

/*The different boards (boardprogress)*/
#todo{
    border-top: 5px solid #40abcc;
}
#inprogress{
    border-top: 5px solid #cc9b40;
}
#done{
    border-top: 5px solid #40cc6f;
}
#done h6{
    text-decoration: line-through;
}
h6{
    margin-bottom: 2px;
}

/*Item design, how it looks*/
.dragItems {
    font-size: 15px;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(214,214,214,0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(214,214,214,0.5);
    box-shadow: 1px 1px 1px 1px rgba(214,214,214,0.5);
    min-height: 100px;
    width: 100%;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
	font-family: 'Poppins', sans-serif;
	transition: transform .2s;
    margin: 0 0 10px 0;
    padding: 10px;
	position: relative;
	cursor: pointer;
	
}

#dragItem:hover {
	transform: scale(1.1)
}

/*Board titles, size, family and color standard*/
h4 {
    font-family: sans-serif;
    font-size: 20px;
    cursor: text;
    color: rgb(71, 71, 71);
}

/*add button, includes color, size, cursor*/
#addItem {
    color: white;
    background-color: #993c3c;
    width: 8%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0;
    cursor: pointer;


}

/*add button, hover effect*/
#addItem:hover {
    background-color: darkred;
    transition: 0.3s;
}

/*item badge, is included in the tag option*/
.badge-outline {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    padding: 3px 6px;
    border: 1px solid transparent;
    min-width: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 3px;
    border-color: #B0BEC5;
    color: #B0BEC5;
    margin-bottom:2px; 
}

/*remove icon / button */
#remove {
    color: aliceblue;
    width: 5%;
    margin-left: 5%;
    background-color: black;
}

/*Board modal text color*/
.form-group{
	color: black;
}

.deadline{
    font-size: 75%;
    color: dimgray;
    text-align: right;
}

