/* ---------------------------------------------------
   GROUP CONTENT
----------------------------------------------------- */
/*Include the padding and border in an element's total width and height */
h2 {
	margin-top: 30px;
} 

ol {
    box-sizing: border-box;
  } 
  /*Remove margins and padding from the list*/
  ol {
	
    margin-left: -40px;
	margin-top: 55px;
	width: 75%;
  }
  /*Style the list items*/
  ol li {
    cursor: pointer;
    position: relative;
    padding: 1% 10% 2% 7%;
    background-color: #F6F6F6;
    font-size: 18px;
    transition: 0.2s;
	  list-style-type: none;
	  color: black;
  
  /*make the list items unselectable */

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
   /*Set all odd list items to a different color (zebra-stripes) */
  ol li:nth-child(odd) {
    background: #F6F6F6;
  }
  
  /*Darker background-color on hover*/
  ol li:hover {
    background: #ddd;
  }
  
   /*When clicked on, add a background color and strike out text*/
  ol li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
   /*Add a "checked" mark when clicked on*/
  ol li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  /*Style the close button*/
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    color: white;
  }
  
  /*Style the header*/
  .header {
    text-align: left;
	margin-top: 15px;
  }
  /*Clear floats after the header*/
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  /*Style the input*/
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
	background-color: #F6F6F6;
  }

  

  .addBtn {
    padding: 10px;
    width: 25%;
    background: #993c3c;
	color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #F6F6F6;
	  color: #993c3c;
  }

/*Hides an unresolved close button*/
#hiddenBox {
	width: 10%;
	position: absolute;
	height: 10%;
	margin-left: 80%;
	margin-top: -10%;
	background-color: #fafafa;
}

  
 /*scroll-bar 
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}
*/
 