#linkButton {
	width: 5%;
	height: 100%;
	padding: 5%;
	margin-top: 15px;
	border-radius: 35px;
	color: black;
	background-color: mediumslateblue;
	border: none;
}

#link2Button {
	width: 10%;
	height: 8%;
	padding: 4%;
	margin-top: 15px;
	margin-left: 55px;
	border-radius: 35px;
	background-color: white;
	color: black;
	border: none;
	border-style: dashed;
	border-width: 1.5px;
}

#linkButton:hover {
	margin-top: 5px;
	transition-duration: 0.2s;
	animation-duration: 2s;
}

#prosjekt_navn {
	margin-left: 0%;
	position: absolute;
}

#prosjekt_ny {
	margin-left: 14.5%;
	position: absolute;
}

.fa-ellipsis-h {
	margin-left: 120px;
	margin-top: 28px;
	color: white;
	position: absolute;
}


/* -----------------------------------
    BOARD CONCEPT
-------------------------------------*/

#generate {
	width: 130%;
	margin-left: -1780%;
	margin-top: 245%;
	background-color: #006d9c;
}

#generate:hover {
	background-color: white;
	color: #006d9c
}

