html,body{
    height: 100%;
    margin: 0;
}

#main{
    height: 400px;
    width: 450px;
    background-color: #006d9c;
    position: absolute;
    top: 150px;
    left: 400px;
    text-align: center;
}

#emailInp{
    position: absolute;
    top: 100px;
    left: 85px;
    height: 40px;
    width: 300px;
    margin: auto;
}

#passwordInput{
    position: absolute;
    top: 200px;
    left: 85px;
    height: 40px;
    width: 300px;
}

a.login:link, a.login:visited{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

a.login:hover, a.login:active{
    background-color: #b8f7d1;
}

#finalLogin{
    position: absolute;
    top: 300px;
    left: 130px;
    height: 25px;
    width: 200px;
    border-radius: 25px;
    background-color: #87ddaa;
    border: 1px solid #87ddaa;
    cursor: pointer;
    font-size: 20px;
}

a.back:link, a.back:visited{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

a.back:hover, a.back:active{
    background-color: #02577c;
}

#backBtn{
    position: absolute;
    top: 10px;
    left: 10px;
}