html,body{
    height: 100%;
    margin: 0;
}

#mainContainer img, #mainContainer div, #mainContainer h1{
    position: absolute;
}

#logo{
    height: 40px;
    top: 10px;
    left: 30px;
}

.btn{
    width: 100%;
}

#homeBtn{
    position: absolute;
    top: 15px;
    left: 810px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

#contactBtn{
    position: absolute;
    top: 15px;
    left: 910px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

#aboutBtn{
    position: absolute;
    top: 15px;
    left: 1020px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

#faqBtn{
    position: absolute;
    top: 15px;
    left: 1110px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

a.login:link, a.login:visited{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
    text-align: center;
    background-color: #006d9c;
}

a.login:hover, a.login:active{
    background-color: #02577c;
}

#loginBtn{
    position: absolute;
    top: 5px;
    left: 1200px;
    width: 70px;
    border: 1px solid #006d9c;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
}

#pic{
    left: 100px;
    top: 80px;
    z-index: 1;
    opacity: 0.15;
    width: 650px;
    position: sticky;
}

#illustration{
    left: 720px;
    width: 40%;
    top: 130px;
    z-index: 2;
}

.text{
    font-size: 6vw;
}

#study{
    top: 200px;
    left: 100px;
    font-family: 'Open sans', sans-serif;
    color: rgb(170, 170, 170);
}

#smarter{
    top: 200px;
    left: 340px;
    font-family: 'Open sans', sans-serif;
    color: #022f42
}

#get{
    top: 300px;
    left: 80px;
    font-family: 'Open sans', sans-serif;
    color: rgb(170, 170, 170);
}

#done{
    top: 300px;
    left: 480px;
    font-family: 'Open sans', sans-serif;
    color: #022f42;
}

#dummyText{
    position: absolute;
    top: 450px;
    left: 50px;
    width: 55%;
    color: rgb(133, 133, 133);
    font-size: 1.2vw;
}

#email{
    top: 540px;
    left: 70px;
}

#emailInput{
    height: 50px;
    width: 700px;
    border: 2px solid #006d9c
}

#getStarted{
    position: absolute;
    top: 545px;
    left: 650px;
    height: 45px;
    color: #ffffff;
    background-color: #006d9c;
    border: 1px solid #006d9c;
    cursor: pointer;
}

a.gsBtn:link, a.gsBtn:visited{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    padding: 0px 7px; 
    background-color: #006d9c;
}






